## from gfsh connection info
gfsh-username=cluster_operator_ZRa1xrdMjAvSrgyfKi4phw
gfsh-password=uN2PBaEV10XPxvfa752Mg


## from /var/vcap/jobs/gemfire-locator/config/gfsecurity.properties
ssl-keystore=/var/vcap/jobs/gemfire-server/config/keystore.jks
ssl-keystore-password=RJH7TAf4xxxSpktftxzKGlPIb3fV8u
ssl-truststore=/var/vcap/jobs/gemfire-server/config/truststore.jks
ssl-truststore-password=g6CjUiOIYDoC0Xfv8902OWOahbCNPh
ssl-require-authentication=false
ssl-web-require-authentication=false
#ssl-endpoint-identification-enabled=true

## additional gemfire connection config.
cluster-ssl-enabled=true
cluster-ssl-require-authentication=false
cluster-ssl-ciphers=any
cluster-ssl-keystore-type=JKS
#ssl-enabled-components=all