## from gfsh connection info
gfsh-username=cluster_operator_kSZXA6unTmdKT3slnH5EJg
gfsh-password=hasKuVIsyr3Gwc7CkvoRBQ


## from /var/vcap/jobs/gemfire-locator/config/gfsecurity.properties
ssl-keystore=/Users/kminseok/_dev/tanzu-main/gemfire-performance-testing/keystore.jks
ssl-keystore-password=rF0zsdaFyDNFxE6aFy1w0fmtGmYV76
ssl-truststore=/Users/kminseok/_dev/tanzu-main/gemfire-performance-testing/truststore.jks
ssl-truststore-password=2dF0Tt3ntVmXtbCZMu361wfgilQOVE
ssl-require-authentication=false
ssl-web-require-authentication=false
ssl-enabled-components=all
ssl-endpoint-identification-enabled=true

## additional gemfire connection config.
cluster-ssl-enabled=true
cluster-ssl-require-authentication=false
cluster-ssl-ciphers=any
cluster-ssl-keystore-type=JKS
ssl-enabled-components=all

